[tool.poetry]
name = "cbrkit"
version = "0.2.0"
description = "Customizable Case-Based Reasoning (CBR) toolkit for Python with a built-in API and CLI."
authors = ["Mirko Lenz <mirko@mirkolenz.com>"]
license = "MIT"
readme = "README.md"
packages = [{ include = "cbrkit" }]
repository = "https://github.com/wi2trier/cbrkit"
homepage = "https://wi2trier.github.io/cbrkit/"
keywords = [
    "cbr",
    "case-based reasoning",
    "api",
    "similarity",
    "nlp",
    "retrieval",
    "cli",
    "tool",
    "library",
]
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Console",
    "Framework :: Pytest",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
    "Topic :: Scientific/Engineering :: Information Analysis",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Utilities",
    "Typing :: Typed",
]

[tool.poetry.scripts]
cbrkit = "cbrkit.cli:app"

[tool.poetry.dependencies]
python = ">=3.11, <3.13"
pandas = "^2.1"
pyyaml = "^6.0"
orjson = "^3.9"
xmltodict = "^0.13"
pyarrow = "^14.0"
typer = { version = "^0.9", extras = ["all"], optional = true }
fastapi = { version = "^0.104", optional = true, extras = ["all"] }
uvicorn = { version = "^0.24", optional = true, extras = ["standard"] }
spacy = { version = "^3.7", optional = true }
nltk = { version = "^3.8", optional = true }
levenshtein = { version = "^0.23", optional = true }
sentence-transformers = { version = "^2.2", optional = true }
openai = { version = "^1.3", optional = true }
torch = { version = "^2.1.1", optional = true }
transformers = { version = "^4.36", optional = true }

[tool.poetry.group.dev.dependencies]
pytest = "^7.4"
pytest-cov = "^4.1"

[tool.poetry.group.docs.dependencies]
pdoc = "^14.1"

[tool.poetry.extras]
all = [
    "typer",
    "fastapi",
    "uvicorn",
    "spacy",
    "nltk",
    "levenshtein",
    "sentence-transformers",
    "openai",
    "torch",
    "transformers",
]
cli = ["typer"]
api = ["fastapi", "uvicorn"]
nlp = [
    "spacy",
    "nltk",
    "levenshtein",
    "sentence-transformers",
    "openai",
    "torch",
    "transformers",
]

[tool.pytest.ini_options]
addopts = "--cov cbrkit --cov-report term-missing --doctest-modules --ignore cbrkit/cli.py --ignore cbrkit/api.py --ignore result"
doctest_optionflags = "NORMALIZE_WHITESPACE IGNORE_EXCEPTION_DETAIL ELLIPSIS"

[tool.ruff]
target-version = "py311"

[tool.ruff.pydocstyle]
convention = "google"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
