name: check
on:
  pull_request:
  workflow_call:
  push:
    branches: [dev]
jobs:
  check:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5
      - uses: DeterminateSystems/nix-installer-action@v19
        with:
          extra-conf: |
            accept-flake-config = true
            log-lines = 1000
      - uses: cachix/cachix-action@v16
        with:
          name: wi2trier
          authToken: ${{ secrets.CACHIX_TOKEN }}
      - run: nix flake check --show-trace
